# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Gradle
.gradle/
build/

#bonsai
.bonsai/agent_context.md
.bonsai/developer_context.md
.bonsai-backups/
.bonsai/maps
external-src/
tests/

# ai
.codex
